<footer>
  <div class="site-footer">
    <div class="centre-wrapper footer-col-wrapper">
      <div class="footer-col left-align vertical-space">
        <p>Experienced startup CTO.</p>

        <p>Melbourne, Australia 👋</p>
      </div>

      <div class="footer-col right-align">
        <ul class="social-media-list">
          <li><a href="https://www.linkedin.com/in/daveslutzkin"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">daveslutzkin</span></a></li>
          <li><a href="https://www.twitter.com/daveslutzkin"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">daveslutzkin</span></a></li>
          <li><a href="https://github.com/daveslutzkin"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">daveslutzkin</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
